$base-font: cursive;
$principal-font: Georgia, serif;
$secondary-font: "Lucida Console", Monaco, monospace;
$base-color: blue;
$border-color: grey;
$font-color: black;
$border-radius: 0.5rem;
$box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);