$base-font: cursive;
$principal-font: "Times New Roman", Times, serif;
$secondary-font: "Comic Sans MS", cursive, sans-serif;
$base-color: red;
$border-color: grey;
$font-color: black;
$border-radius: 0.2rem;
$box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.8);