@import "./_mixins.scss";
@import "./_variables.scss";
@import "./_reset.scss";

body {
  display: flex;
  justify-content: center;
  height: 90vh;
}

.container {
  margin: 2em;
  display: grid;
  grid-template-columns: 30% auto;
}

.menu {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
}

.item {
  padding: 1em;
}

.sectionA {
  background-color: $sectionABackgroundColor;
}

.sectionB {
  background-color: $sectionBBackgroundColor;
}

.navigation-bar {
  background-color: $navBarBackgroundColor;
  grid-row: 1/3;
}

@media only screen and (min-width: 75em) {
  @include extra-large;
}

@media only screen and (max-width: 62em) {
  @include large;
}

@media only screen and (max-width: 48em) {
  @include medium;
}

@media only screen and (max-width: 37.5em) {
  @include small;
}
